*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.headerlogin-container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 80px;
    box-shadow: 0px 2px 48px #0000000F;
    opacity: 1;
}

.headerlogin-logo{
    display: flex;
    align-items: center;
    font: normal normal 900 20px/27px Avenir;
    font-weight: bold;
    letter-spacing: 1.8px;
    color: #5861AE;
    text-transform: uppercase;
    opacity: 1;
    margin-left: 119px;
}

.headerlogin-navs ul{
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;
}
.headerlogin-navs ul li{
    /* border: 1px solid #0000000F; */
    height: 100%;
    width: 112.5px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px/19px;
    cursor: pointer;
}
.pricing,.career{
    border: 1px solid #0000000F;
}
.headerlogin-signin{
    /* background-color: #5861AE; */
    color: #fff;
}
.profile{
    display: flex;
    background-color: #5861AE;
    width: 225px;
    height: 100%;
    justify-content: space-around;
    align-items: center;
    border: none;
}
.profile li{
    border: none;
    outline: none;
}
#profile-pic{
    width: 50px;
    height: 50px;
    border-radius: 50%;


}
