.orders-class{
    background-color: aliceblue;
    width: 100%;
    height: 100vh;

}
.header-order{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;

}
.middle-of-orders{
   

    margin: auto ;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  
    height: 90vh;
   
}

.orders,.search-bar{
    margin-top: 10px;
    margin-left:  10px;

}

.logout{
    margin-left:  10px;
    margin-top: 22px;
    border-radius: 0.2rem;

}
.search-bar input{
    font-size: 20px;
    padding-left: 5px;
}
.orders{
    font-weight: 600;
    font-size: 25px;
}
.orders span{
    margin-left: 5px;
}
.btn-1{
    border: blue 1px solid;
    color: blue;
    padding: 10px 30px;
}

.search-bar{
    margin-right: 10px;
    border-bottom: 1px solid black;
}
.search-bar input{
    border: none;
    
    background: none;
    outline: none;
}
.middle-of-orders h3{
    color: grey;
}
.wash-type{
    display: flex;
    align-items: center;
}