.side-bar{
    /* top: -1.5px;
    /* left: 0px; */
    /* width: 75px; */
    /* height: 933px; */
    background: #5861AE 0% 0% no-repeat padding-box;
    /* display: flex; */ 
    height: 100vh;
    float: left;
    /* margin-top: 10vh; */
    width: 5vw;
    
}
.image-icons{
    margin-top: 5vh;
    /* margin-right: 2rem; */
    /* margin-left:20px; */
    height: 10vh;
    width: 100%;
}
.img1,.img2,.img3{
    padding-top: 4vh;
    cursor:pointer;
}
.img2{
    background: white 100% 100%;
    width: 4.8vw;
    margin-right: 10vw;
    align-self: left;
    margin-top: 3vh;
    margin-bottom: 1vh;
    padding-bottom: 2.5vh;
    
}